extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // ROOM INFO
        h2 Room Info
        #roomInfo
            table
                thead
                    th Room Data
                tbody
        // ROOM INFO

        //SHOW FILES
        h2 File List
        #fileList
            table
                thead
                   th File Name
                   th Download
                   th Delete
                tbody
        //SHOW FILES
        //UPLOAD FILES
        form(method="post", action="/files/upload", enctype='multipart/form-data')
            br
            input(type="file", name="image", id="image" size=1000000)
            br
            input(type="submit", value="Upload", class="button-style")
            br
            span#message

        //UPLOAD FILES
        
    // /WRAPPER